<div class="full-width courses-details-container">
  <form class="courses-details-grid">
    <div class="grid-item">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Nome</mat-label>
        <input [(ngModel)]="course.name" name="nome" autocomplete="off" matInput placeholder="Nome" />
      </mat-form-field>
    </div>

    <div class="grid-item">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Professor</mat-label>
        <mat-select [formControl]="teachers" multiple>
          <mat-option *ngFor="let teacher of teacherList" [value]="teacher">{{
            teacher
          }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="grid-item">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Salas</mat-label>
        <mat-select [formControl]="rooms" multiple>
          <mat-option *ngFor="let room of roomList" [value]="room">{{
            room
          }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="grid-item">
      <div class="time-container">
        <mat-form-field class="full-width time-input" appearance="outline">
          <mat-label>Inicio</mat-label>
          <input [(ngModel)]="course.time.start" name="de" autocomplete="off" matInput placeholder="Inicio" />
        </mat-form-field>
      </div>
      <div class="time-container">
        <mat-form-field class="full-width time-input" appearance="outline">
          <mat-label>Fim</mat-label>
          <input [(ngModel)]="course.time.end" name="ate" autocomplete="off" matInput placeholder="Fim" />
        </mat-form-field>
      </div>
    </div>
  </form>
  <div class="button-container">
    <button class="full-width" mat-raised-button color="primary" (click)="handleSave()">
      Salvar
    </button>
  </div>
  <div class="button-container">
    <button class="full-width" mat-raised-button color="warn" (click)="handleCancel()">
      Cancelar
    </button>
  </div>
</div>