/* You can add global styles to this file, and also import other style files */

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.cursos-title {
    text-align: center;
    background: #e1e1e1;
    padding: 10px;
    margin: 0;
}

input[type='submit'] {
    background: #000;
    padding: 10px 30px;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    text-align: center;
}

input:not([type='submit']),
select {
    padding: 10px 15px;
    width: 170px;
    border-radius: 3px;
    border: 1px solid #000;
    margin: 5px;
}