<nb-card (click)='showDetails(contentTemplate)'>
  <nb-card-body>
    <p-chart type="doughnut" [data]="graficoObj"></p-chart>
  </nb-card-body>
</nb-card>

<!-- <ng-template #contentTemplate let-data>
  <p-chart type="doughnut" [data]="graficoObj"></p-chart>
</ng-template> -->

<ng-template #contentTemplate let-data let-ref="dialogRef">
  <!-- <p-chart type="doughnut" [data]="graficoObj" [responsive]="false" [width]="600" [options]="options"></p-chart> -->
  <nb-card>
    <nb-card-header>Detalhes do Grafico</nb-card-header>
    <nb-card-body>
      <p-chart type="doughnut" [width]="400" [data]="graficoObj" [options]="options"></p-chart>
    </nb-card-body>
  </nb-card>
</ng-template>

<!-- <p-dialog [(visible)]="display">
  <p-header>
    Detalhe do Grafico
  </p-header>
  <p-chart type="doughnut" [data]="graficoObj"></p-chart>

  <p-footer>

  </p-footer>
</p-dialog>
 -->