.header {
  background-color: #e8590c;
  text-align: center;
  font-size: 24px;
  line-height: 50px;
}
.buttonAddSize {
  float: right;
  width: 50px;
  height: 50px;
}

.font-size-card-text {
  font-size: 12px;
}

.p {
  justify-content: center;
}
