<div class="header">
  <div class="texto-header">
    <div>
      <p>
        Cursos
        <button class="buttonAddSize">
          <a href="http://localhost:4200/curso/novo-curso">
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M12 8V16"
                stroke="black"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M8 12H16"
                stroke="black"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </a>
        </button>
      </p>
    </div>
  </div>
</div>

<div>
  <div>
    <app-cards></app-cards>
  </div>
</div>
