.formCurso{
    margin-left: auto;
    margin-right: auto;
    margin-top:50px;
}

.alinharNoMeio{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.linhaBtnSalvar{
    margin-top: 10px;
    justify-content: center;
}