.limitador {
    width: 100%;
    margin: 0 auto;
  }

  .conteudo-criar {
    width: 50%;  
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .botao-criar {
    font-family: 'Silian Rail';
    font-size: 16px;
    color: #fff;
    line-height: 1.2;
    padding: 0px 20px;
    width: 100%;
    height: 45px;
    background-color: #827ffe;
    border-radius: 3px;
    transition: all 0.4s;
    border: none;
  }

  .botao-criar:hover {
    background-color: #403866;
  }

  
 

  