<nav class="navbar navbar-light bg-light">
  <div class="col d-flex justify-content-center align-content-center">
    <h5 class="col-auto">Cursos</h5>
  </div>
</nav>
<div class="container">
  <div class="row">

    <div class="col-sm-6" *ngFor="let curso of cursos">
      <div class="card">
        <button class="btn">
          <div class="card-body">
            <div class="d-flex flex-column bd-highlight mb-2">
              <div class="p-2 bd-highlight">
                <h5 class="card-title d-inline float-left">{{curso.nome}}</h5>
                <button type="button" class="btn d-inline float-right"(click) = 'delete(curso.id)'><img src="/assets/favicon-16x16.png"></button>
              </div>
              <div class="p-2 bd-highlight">
                <span class="text-sm-left d-block tt col-10" >Prof. {{curso.professor}}</span>
                <div class="d-inline float-left finalDoCard">

                  <span class="text-sm-left">Sala {{curso.sala}}</span>
                </div>
                <div class="d-inline float-right">
                  <span class="text-sm-left  finalDoCard">{{curso.inicio}} ás {{curso.fim}}</span>
                </div>
              </div>
            </div>
          </div>
        </button>
      </div>
    </div>
  </div>
</div>
