<nav class="navbar navbar-light bg-light">
  <div class="col d-flex justify-content-center align-content-center">
    <h5 class="col-auto">Cursos</h5>
  </div>
</nav>
<div class="container">
  <div class="row">

    <div class="col-sm-6">
      <div class="card">
        <button class="btn">
          <div class="card-body">
            <div class="d-flex flex-column bd-highlight mb-2">
              <div class="p-2 bd-highlight">
                <h5 class="card-title d-inline float-left">Hístoria</h5>
                <button type="button" class="btn d-inline float-right"><img src="/assets/favicon-16x16.png"></button>
              </div>
              <div class="p-2 bd-highlight">
                <div class="d-inline float-left finalDoCard">
                  <p class="text-sm-left">fdsfd</p>
                  <p class="text-sm-left">fdsfdds</p>
                </div>
                <div class="d-inline float-right">
                  <p class="text-sm-left  finalDoCard">fdsfdds</p>
                </div>
              </div>
            </div>
          </div>
        </button>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <button class="btn">
          <div class="card-body">
            <div class="d-flex flex-column bd-highlight mb-2">
              <div class="p-2 bd-highlight">
                <h5 class="card-title d-inline float-left">Hístoria</h5>
                <button type="button" class="btn d-inline float-right"><img src="/assets/favicon-16x16.png"></button>
              </div>
              <div class="p-2 bd-highlight">
                <div class="d-inline float-left finalDoCard">
                  <p class="text-sm-left">fdsfd</p>
                  <p class="text-sm-left">fdsfdds</p>
                </div>
                <div class="d-inline float-right">
                  <p class="text-sm-left  finalDoCard">fdsfdds</p>
                </div>
              </div>
            </div>
          </div>
        </button>
      </div>
    </div>

  </div>
