<!-- <div>
  <div class="dashboardWrap">
    <p-card>
      <p-header>
        Header content here
      </p-header>
      Body Content
      <p-footer>
        Footer content here
      </p-footer>
    </p-card>
    <p-card>
      <p-header>
        Header content here
      </p-header>
      Body Content
      <p-footer>
        Footer content here
      </p-footer>
    </p-card>


  </div>
</div>
 -->

<div class="dashboardWrap">
  <div>
    <div class="p-grid">
      <div class="p-col-12 p-md-6 p-lg-6">
        <mdb-card>
          <mdb-card-title class="titleCard">
            <h4>Card Title</h4>
            <mdb-icon icon="trash" size="2x" (click)="visibleSidebar1 = true">
            </mdb-icon>
          </mdb-card-title>
          <mdb-card-body>
          </mdb-card-body>
        </mdb-card>
      </div>
      <div class="p-col-12 p-md-6 p-lg-6">
        <mdb-card>
          <mdb-card-title>
            <h4>Card Title</h4>
          </mdb-card-title>
          <mdb-card-body>
          </mdb-card-body>
        </mdb-card>
      </div>

    </div>
    <br>
    <div class="p-grid">
      <div class="p-col-12 p-md-6 p-lg-6">
        <mdb-card>
          <mdb-card-title>
            <h4>Card Title</h4>
          </mdb-card-title>
          <mdb-card-body>
          </mdb-card-body>
        </mdb-card>
      </div>
      <div class="p-col-12 p-md-6 p-lg-6">
        <mdb-card>
          <mdb-card-title>
            <h4>Card Title</h4>
          </mdb-card-title>
          <mdb-card-body>
          </mdb-card-body>
        </mdb-card>
      </div>

    </div>
  </div>
</div>