<div>
    <div class="limitador">
		<div class="conteudo-login">
			<div class="tamanho-login">
				<form (submit)="onSubmit(email.value, senha.value)">
					<span class="titulo-login">
						Login
					</span>

					<div class="conteudo-input-email">
						<input class="formatacao-input" #email value="" type="email" required name="email" minlength="8" maxlength="65" placeholder="gustavo@exemplo.com">
					</div>
					
					
					<div class="conteudo-input-senha">
						<input class="formatacao-input" #senha value="" type="password" required minlength="6" maxlength="20" name="senha" placeholder="Senha">
					</div>

					<input type="submit" value="Acessar" class="botao-login">
				</form>
			</div>
		</div>
	</div>
</div>