.navbar-container {
  display: flex;
  flex-direction: row;
  height: 80px;
  align-items: center;
  justify-content: center;
}

.navbar-actions {
  right: 10px;
  display: flex;
  position: absolute;
  flex-direction: row;
}

.mat-icon {
  display: flex;
  font-size: 35px;
  align-items: center;
  justify-content: center;
}
