<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cursos</title>
</head>
<body>
    <header>
        <h3>Cursos</h3>
        <button>
         <a href="/login"> 
             <span>+</span>
        </a>
        </button>
    </header>

    <main id="main" *ngFor="let curso of cursos$ | async">
        <div class="box-curso">
            <div class="box-info-professores">
                <h4>{{ curso.nome_curso}}</h4>
                <h5>{{curso.nome_professor}}</h5>
                <h5>{{curso.numero_sala}}</h5>
            </div><!--box-info-professores  -->
            <div class="box-info-horario">
                <button (click)="delete(curso.id)">Deletar</button>
                <h5>{{curso.inicio}} às {{curso.fim}}</h5>
            </div><!--box-info-horario-->
        </div><!-- box-curso -->

    </main>
</body>
</html>