<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cursos</title>
</head>
<body>
    <header>
        <h3>Cursos</h3>
        <button>
          <span>+</span>
        </button>
    </header>

    <main>
        <div class="box-curso">
            <div class="box-info-professores">
                <h4>Biologia</h4>
                <h5>Prof. Andre Santos</h5>
                <h5>Sala 402</h5>
            </div><!--box-info-professores  -->
            <div class="box-info-horario">
                <p>Deletar</p>
                <h5>14:00 às 18:00</h5>
            </div><!--box-info-horario-->
        </div><!-- box-curso -->

        <div class="box-curso">
            <div class="box-info-professores">
                <h4>Biologia</h4>
                <h5>Prof. Andre Santos</h5>
                <h5>Sala 402</h5>
            </div><!--box-info-professores  -->
            <div class="box-info-horario">
                <p>Deletar</p>
                <h5>14:00 às 18:00</h5>
            </div><!--box-info-horario-->
        </div><!-- box-curso -->

        <div class="box-curso">
            <div class="box-info-professores">
                <h4>Biologia</h4>
                <h5>Prof. Andre Santos</h5>
                <h5>Sala 402</h5>
            </div><!--box-info-professores  -->
            <div class="box-info-horario">
                <p>Deletar</p>
                <h5>14:00 às 18:00</h5>
            </div><!--box-info-horario-->
        </div><!-- box-curso -->

        <div class="box-curso">
            <div class="box-info-professores">
                <h4>Biologia</h4>
                <h5>Prof. Andre Santos</h5>
                <h5>Sala 402</h5>
            </div><!--box-info-professores  -->
            <div class="box-info-horario">
                <p>Deletar</p>
                <h5>14:00 às 18:00</h5>
            </div><!--box-info-horario-->
        </div><!-- box-curso -->

        <div class="box-curso">
            <div class="box-info-professores">
                <h4>Biologia</h4>
                <h5>Prof. Andre Santos</h5>
                <h5>Sala 402</h5>
            </div><!--box-info-professores  -->
            <div class="box-info-horario">
                <p>Deletar</p>
                <h5>14:00 às 18:00</h5>
            </div><!--box-info-horario-->
        </div><!-- box-curso -->

        <div class="box-curso">
            <div class="box-info-professores">
                <h4>Biologia</h4>
                <h5>Prof. Andre Santos</h5>
                <h5>Sala 402</h5>
            </div><!--box-info-professores  -->
            <div class="box-info-horario">
                <p>Deletar</p>
                <h5>14:00 às 18:00</h5>
            </div><!--box-info-horario-->
        </div><!-- box-curso -->
    </main>
</body>
</html>