<div class="row">
  <div class="col-sm-6">
    <div class="thumbnail">
      <div class="row">
        <div class="col-xs-8">
          <h2>{{cardInfo.nome}}</h2>
        </div>
        <div class="col-xs-4 text-right">
          <a (click)="onDelete()" class="btn btn-default btn-delete" role="button">
            <span class="glyphicon glyphicon-trash"></span>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 professor">
          Prof. {{cardInfo.professor.nome}}
        </div>
        <div class="col-xs-6">
          Sala {{cardInfo.sala.nome}}
        </div>
        <div class="col-xs-6 text-right">
          {{ cardInfo.inicio | date:'HH:MM' }}
          às
          {{ cardInfo.fim | date:'HH:MM' }}
        </div>
      </div>
    </div>
  </div>
</div>