@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  background-color: #5f5f5f;
  font: 400 14px Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
}

a, label, button, textarea, input, select{
  font: 400 16px Roboto, sans-serif;
}

input, select{
  max-height: 4vh;
}

::-webkit-scrollbar{
  width: 5px;
  }
  
  ::-webkit-scrollbar-track{
      border: 7px solid;
      box-shadow: inset 0 0 2.5px 2px rgba(0, 0, 0 , 0.5);
  }
  
  ::-webkit-scrollbar-thumb{
      background: rgba(0, 0, 0 , 0.5);
  }
