* {
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
    box-sizing: border-box;
    color: #444;
}

body {
    background-color: #F8F7F7;
}

a {
    text-decoration: none;
    color: #444;
    transition: .4s;
}

a:hover{
    color: #dec129;
}

@font-face {
    font-family: 'Silian Rail';
    src: url(./app/fontes/SilianRail.otf) format('opentype');
  }