<section class="login">
    <div class="login-container">
        <div class="login-title">
            <span>Login</span>
        </div>
        <form [formGroup]="loginForm" (ngSubmit)="doLogin()" action="/cursos" method="GET" ngNativeValidate>
            <div class="group">
                <input type="email" placeholder="Email" required>
            </div>
            <div class="group">
                <input type="password" placeholder="Senha" required>
            </div>
            <div class="group">
                <input type="submit" value="Acessar">
            </div>
        </form>
    </div>
</section>