<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-8 col-xs-offset-2 text-center">
          <h1>Detalhes do Curso</h1>
        </div>
      </div>
    </div>
</nav>

<div class="container">

    <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
        <div class="row">
            <div class="form-group col-sm-6">
                <input id="nome" type="text" name="nome" formControlName="nome" class="form-control" placeholder="Nome do Curso">
            </div>
            <div class="form-group col-sm-6">
                <select class="form-control" multiple name="professorId" formControlName="professores">
                    <option value="" selected disabled>Professores</option>
                    <option *ngFor="let prof of listProfessores" value="{{ prof._id }}"> {{ prof.nome }} </option>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-sm-6">
                <select class="form-control" multiple name="salaId" formControlName="salas">
                    <option value="" selected disabled>Salas</option>
                    <option *ngFor="let sala of listSalas" value="{{sala._id}}"> {{sala.nome}} </option>
                </select>
            </div>

            <div class="form-group col-xs-6 col-sm-3">
                <input type="time" id="inicio" class="form-control" name="inicio" formControlName="inicio" data-toggle="tooltip"
                    data-placement="bottom" title="Início">
            </div>

            <div class="form-group col-xs-6 col-sm-3">
                <input type="time" id="fim" class="form-control" name="fim" formControlName="fim" data-toggle="tooltip"
                    data-placement="bottom" title="Fim">
            </div>
        </div>
        <button type="submit" class="btn btn-primary btn-block" [disabled]="!form.valid">Salvar</button>
    </form>
</div>