<section class="cadastro-cursos">
    <div class="cadastro-cursos-container">
        <p class="cursos-title">Detalhe do curso</p>

        <div class="form-container">
            Form Status: {{ coursesForm.status }}
            <form [formGroup]="coursesForm" (ngSubmit)="saveCourse(this)" ngNativeValidate>
                <div class="group">
                    <input formControlName="courseName" type="text" required placeholder="Nome do Curso">
                    <select formControlName="teachers" class="lg" name="" id="" multiple required>
                        <option value="">Professores</option>
                        <option *ngFor="let prof of teachers" value="{{ prof.id }}">{{ prof.nome }}</option>
                    </select>
                </div>
                <div class="group">
                    <select formControlName="rooms" class="md" name="" id="" multiple required>
                        <option value="">Salas</option>
                        <option *ngFor="let room of rooms" value="{{ room.id }}">{{ room.nome }}
                      </select>
                    <input formControlName="startDate" type="time" required>
                    <input formControlName="endDate" type="time" required>
                </div>
                <div class="group center">
                    <input type="submit" value="Salvar">
                </div>

            </form>
        </div>
    </div>
</section>