.course-create {
  &-form {
    display: flex;
    flex-direction: column;
    padding: 0 28px 0 8px;

    &__title {
    }

    &__teacher {
    }

    &__class {
    }

    &__time {
      &-init {
      }

      &-end {
        margin-left: 18px;
      }
    }
  }

  &-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 24px;
    margin-left: 10px;

    &__actions {
      &-create {
        margin-right: 12px;
      }

      &-clear {
        margin-left: 12px;
      }
    }

    &__cancel {
      margin-right: 24px;
    }
  }
}
