<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cursos</title>
</head>
<body>
    <header>
        <h3>Cadastrar Cursos</h3>
    </header>

    <main>
        <form>
            
            <div class="box-esquerda">
                <input type="text" name="nome_curso" placeholder="Nome do Curso">
                <select name="sala" id="sala">
                    <option value="">Salas</option>
                    <option value="1">Sala 501</option>
                    <option value="2">Sala 401</option>
                </select>
            </div>

            <div class="box-direita">
                <select name="prof" id="prof">
                    <option value="">Professores</option>
                    <option value="1">prof 1</option>
                    <option value="2">prfo 2</option>
                </select>
    
              <div class="box-inputs">
                <input type="text" name="incio" placeholder="Início">
                <input type="text" name="fim" placeholder="Fim">
              </div>
    
            </div>
            <button type="submit">Salvar</button>
        </form>
    </main>
</body>
</html>