<header>
  <p class="texto-header">Todos os cursos</p>
</header>
<div>
    <div class="float-end pt-1"> <!--BOTÃO DE CRIAR-->
      <button class="btn">
        <a href="http://localhost:4200/curso/novo-curso"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
        </svg></a>
      </button>
    </div>
    <div class="pt-3 pb-3">
          <app-cards></app-cards>
      </div>
</div>

<app-footer></app-footer>