$leftCardAndLine: 18px;

.card{
    height: 120px;
    border: 1px solid #999;
    width: 31.5%;
    margin-left: $leftCardAndLine;
    margin-top: 10px
}

.conteudoCurso{
    margin-left: -$leftCardAndLine;
    padding-right: 0px
}