$leftCardAndLine: 18px;

.card{
    height: 120px;
    border: 1px solid #999;
    width: 40.5%;
    margin-left: $leftCardAndLine;
    margin-top: 10px;
    padding-left: 0px;
}

@media (max-width: 939px) {
    .card {
        width: 98%;
    }
}

.conteudoCurso{
    margin-left: -$leftCardAndLine;
    padding-right: 0px
}

.xRemover{
    font-size: 25px;
    position: relative;
    bottom: 12px;
    color: red;
    float: right;
    left:9px
}

.detalheCurso{
    clear: both;
    height: 80px;
    font-size: 14px;
    margin-top: 26px;
    line-height: 6px;
}

.detalheDirCurso{
    float: right;
}

.descDetalhe{
    color: #616161;
    margin-top: 22px;
    // float: right;
}

.tituloCurso{
    font-size: 16px
}