$leftCardAndLine: 18px;

.card{
    height: 120px;
    border: 1px solid #999;
    width: 31.5%;
    margin-left: $leftCardAndLine;
    margin-top: 10px;
    padding-left: 0px;
}

@media (max-width: 939px) {
    .card {
        width: 98%;
    }
}

.conteudoCurso{
    margin-left: -$leftCardAndLine;
    padding-right: 0px
}

.xRemover{
    font-size: 25px;
    position: relative;
    bottom: 12px;
    color: red;
}