.formLogin{
    background: white;
    box-shadow: 0px 0px 14px -3px black;
    text-align:center;
    padding:40px;
    height: 500px;
    border-radius: 15px;
}

.btnAcessar{
color: white;
    background: #4c4cf9;
}

.titulo{
    height:100px
}