<div class="container">
  <div class="login-container">
    <h1 class="login-title">Login</h1>

    <form class="login-form">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Email</mat-label>
        <input
          [(ngModel)]="user.email"
          name="email"
          autocomplete="off"
          matInput
          placeholder="Email"
        />
      </mat-form-field>

      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Senha</mat-label>
        <input
          [(ngModel)]="user.password"
          name="password"
          matInput
          placeholder="Senha"
          type="password"
        />
      </mat-form-field>
    </form>
    <div class="buttons-container">
      <button
        class="full-width"
        mat-raised-button
        color="primary"
        (click)="handleSubmit()"
      >
        Acessar
      </button>
    </div>
  </div>
</div>
