<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2 text-center">
        <h1>Cursos</h1>
      </div>
      <div class="col-xs-2 text-right">
          <button type="button" class="btn btn-default" routerLink="/add" >
            <span class="glyphicon glyphicon-plus"></span>
          </button>
      </div>
    </div>
  </div>
</nav>

<div class="container">
  <section class="row">
    <app-card *ngFor="let curso of listaCursos" [cardInfo]="curso" (delete)="onCardDelete($event)"></app-card>
  </section>
</div>