<nav class="navbar navbar-light bg-light">
  <div class="col d-flex justify-content-center align-content-center">
    <h5 class="col-auto">Detalhe do Cursos</h5>
  </div>
</nav>

<div class="container">

  <br>
  <form #formCurso="ngForm" (ngSubmit)="adicionar(formCurso)">
    <div class="row">
      <div class="form-group col-md-6">
        <input type="text" class="form-control" id="inputZip" name='nome' placeholder="Curso" [(ngModel)]='curso.nome'>
      </div>

      <div class="form-group col-md-6">
        <select type="text" class="custom-select mr-sm-2"size='3'  [compareWith]='compare' name='professor' multiple placeholder="Professor"
          [(ngModel)]='curso.professor'>
          <option *ngFor='let prof of professores' [value]='prof'>{{prof.nome}}</option>

        </select>
      </div>
    </div>
    <div class="row">

      <div class="form-group input-field col-md-6">
        <select multiple type="number" [compareWith]='compare' class="form-control" id="inputZip" name='sala'
          placeholder="sala" name=sala aria-expanded="false" [(ngModel)]='curso.sala'>
          <option *ngFor='let sala of salas' [value]='sala'>{{sala.sala}}</option>
        </select>
      </div>

      <div class="col-6  col-md-3">
        <div class="form-group">
          <input type="time" class="form-control" name='inicio' placeholder="inicio" [(ngModel)]='curso.inicio'>
        </div>
      </div>
      <div class="col-6 col-md-3 ">
        <div class="form-group">
          <input type="time" class="form-control" name='fim' placeholder="fim" [(ngModel)]='curso.fim'>
        </div>
      </div>

    </div>
    <div class="d-flex justify-content-center">
      <button type="submit" class=" col-6 col-md-5 btn btn-primary">Salva</button>
    </div>
  </form>

</div>
