<div class="main">
  <div class="container-center">
    <div class="container-header">
      <div class="grid-container">
        <div class="grid-item"></div>
        <div class="grid-item">
          <h1>Detalhe do curso</h1>
        </div>
        <div class="grid-item"></div>
      </div>
    </div>
    <div [formGroup]="formGroup" class="container-content">
      <div class="grid-list-courses">
        <div class="grid-item left">
          <input formControlName="name" placeholder="Nome do Curso" type="text">
        </div>
        <div class="grid-item margin-container-select-right right">
          <ng-select [items]="teachers" formControlName="teachers" multiple="true" bindLabel="name"
            placeholder="Professores">
          </ng-select>
        </div>
      </div>
      <div class="grid-second-line">
        <div class="grid-item margin-container-select-left left">
          <ng-select [items]="classrooms" formControlName="classrooms" multiple="true" bindLabel="name"
            placeholder="Salas">
          </ng-select>

        </div>
        <div class="grid-third-line">
          <div class="grid-item input-right">
            <input formControlName="startTime" placeholder="Início" type="text">
          </div>
          <div class="grid-item input-left">
            <input formControlName="endTime" placeholder="Fim" type="text">
          </div>
        </div>
      </div>
      <div class="button-container">
        <button [disabled]="loading" (click)="save()">{{loading ? 'Salvando...' : 'Salvar'}}</button>
      </div>
    </div>
  </div>
</div>