<div class="p-grid" style="height: 50vh;overflow-y: scroll;">
  <div class="p-col-12 p-md-6 p-lg-6" *ngFor="let item of Dados">
    <nb-card (click)="ShowDetails(item)">
      <nb-card-header class="titleCard">
        <h2>{{item.materia}}</h2>
        <!-- <mdb-icon icon="trash" size="2x" (click)="visibleSidebar1 = true">
        </mdb-icon> -->
        <i class="fa fa-trash fa-2x" aria-hidden="true"></i>
      </nb-card-header>
      <nb-card-body>
        <h3>Professor(a) {{item.professor}}</h3>
        <div style="display: flex;justify-content: space-between;">
          <p>Sala {{item.sala}}</p>
          <p>de {{item.horaInicial}} as {{item.horaFinal}}</p>
        </div>
      </nb-card-body>
    </nb-card>
  </div>